* {
	margin: 0;
}
.app {
	display: grid;
	place-items: center;
	height: 100vh;
	background: linear-gradient(to bottom, #128c7e 20%, #dadbd3 20%);
}
.app__body {
	display: flex;
	background-color: #dadbd3;
	max-height: 95vh;
	height: 98%;
	width: 90vw;
	box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
}
.app__greenStripe {
	position: absolute;
	top: 0;
	z-index: 1;
	height: 200px;
	width: 100%;
	color: #128c7e;
}
